.hide { display: none !important; }

body {
  color: #343434;
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-width: 800px;
  min-height: 600px;
}

#annoucement {
  background: #eee;
  color: #000;
  padding: 15px 60px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
}
#annoucement > div {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 3px;
  transition-duration: .3s;
}
#annoucement > div:hover {
  border: 1px solid #eee;
  background: #eee;
  color: #000;
}
#annoucement a { color: #000; }

body.dark #annoucement {
  background: #000;
  color: #fff;
}
body.dark #annoucement > div {
  border: 1px solid #fff;
  background: #000;
  color: #fff;
}
body.dark #annoucement > div:hover {
  background: #fff;
  color: #000;
}
body.dark #annoucement a { color: #fff; }

#note-content {
  box-sizing: border-box;
  border: 0;
  font-size: 18px;
  line-height: 1.75rem;
  margin: 0;
  min-height: 100vh;
  height: auto;
  padding: 4rem 20%;
  resize: none;
  width: 100%;
}
#note-content.dark {
  background: #343434;
  color: #fff;
}
#mode-switcher {
  border: 1px solid #777;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: fixed;
  top: 12px;
  right: 12px;
  width: 20px;
  z-index: 999;
}
#mode-switcher { background: #777; }
.dark + #mode-switcher { background: #fff; }

#status {
  bottom: 12px;
  filter: invert(100%);
  position: fixed;
  left: 12px;
}

#addon-author {
  background: #DD4A68;
  bottom: 12px;
  border: 1px solid #DD4A68;
  color: #fff;
  font-family: serif;
  font-size: 10px;
  font-weight: 600;
  padding: 2px;
  position: fixed;
  text-decoration: none;
  right: 12px;
}
#addon-author:hover { background: #E28699; border-color: #E28699; }

/* Multi-note */
#list-trigger {
  position: fixed;
  top: 12px;
  left: 14px;
  width: 16px;
  cursor: pointer;
}
#list-trigger:before,
#list-trigger span,
#list-trigger:after {
  width: 16px;
  height: 5px;
  float: left;
  content: '';
  display: inline-block;
  box-shadow: 0 2px 0 #343434;
  border-bottom: 2px solid #fff;
}

#list {
  box-sizing: border-box;
  width: 250px;
  position: absolute;
  top: 0;
  left: -250px;
  bottom: 0;
  overflow: auto;

  background: #eee;
  color: #343434;
  box-shadow: inset -7px 0 5px -6px rgba(0,0,0,0.5);
}
#list .list-inner {
  position: relative;
  padding: 4rem 20px;
}

#create_entry {
  position: absolute;
  top: 12px;
  right: 12px;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  color: #aaa;
  background: #fff;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.dark #create_entry {
  background: #343434;
  color: #777;
  border: 1px solid #777;
}

#undo_deletion {
  position: absolute;
  bottom: 12px;
  right: 12px;
  box-sizing: border-box;
  width: 100px;
  height: 22px;
  color: #000;
  background: #fff;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.dark #undo_deletion {
  background: #343434;
  color: #fff;
  border: 1px solid #777;
}

#list ul {
  padding: 0 0 calc(20px + 1rem);
  margin: 0;
  list-style-type: none;
}
#list li ::selection {
  background-color: transparent;
}
#list li > span {
  display: block;
  padding: 10px;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  color: #999;
  cursor: pointer;
  position: relative;
}
#list li span > span {
  font-size: 1.25rem;
  margin-right: .25rem;
}
#list li span > span.empty-string {
  font-size: 1rem;
  opacity: 0.5;
  margin-right: 0;
}
#list li span .del {
  display: none;
  position: absolute;
  right: 0;
  cursor: pointer;
  opacity: 0.5;
  font-family: sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
}
#list li:hover span .del {
  display: inline-block;
}
#list li:hover span .del:hover {
  opacity: 1;
}
#list .current {
  position: relative;
}
#list .current:before {
  content: '';
  display: inline-block;
  border: 2px solid;
  position: absolute;
  top: calc(50% - 4px);
  left: -3px;
  border-color: #343434;
}
#list .current > span, #list .current a:hover {
  cursor: default;
  color: #343434;
}
#list li > span:hover {
  color: #666;
}
#list.dark {
  background: #292929;
  color: #fff;
  box-shadow: inset -7px 0 5px -6px rgba(0,0,0,0.5);
}
#list.dark li > span {
  border-bottom: 1px solid #343434;
  color: #aaa;
}
#list.dark li > span:hover {
  color: #ddd;
}
#list.dark .current:before {
  border-color: #ddd;
}
#list.dark .current > span, #list.dark .current a:hover {
  color: #ddd;
}

#list-indicator:checked ~ #list {
  left: 0;
}
#list-indicator:checked ~ #note-content {
  margin-left: 250px;
  padding: 4rem 10%;
  width: calc(100vw - 250px);
}

.setting-icon-container {
  position: fixed;
  bottom: 12px;
  left: 12px;
}

#setting-icon {
  background: white;
  border: 0.2857142857em solid gray;
  display: inline-block;
  position: relative;
  margin: 0.2em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-sizing: border-box;
  transition-duration: .3s;
  cursor: pointer;
}

.dark #setting-icon {
  background: #343434;
}

#setting-icon:before, #setting-icon:after {
  color: gray;
  content: "×";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "times new roman";
  font-weight: bold;
  font-size: 2.5em;
}
#setting-icon:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
