body {
    box-sizing: border-box;
    border: 0;
    font-size: 18px;
    font-family: monospace;
    line-height: 1.75rem;
    margin: 0;
    min-height: 100vh;
    height: auto;
    padding: 4rem 20%;
    resize: none;
    width: 100%;
    vertical-align: middle;
	transition-duration: .3s;
}

body.dark {
    background: #343434;
    color: #fff;
}

#title {
    font-size: 48px;
    line-height: 56px;
}

hr.solid {
    border-top: 3px solid rgb(0, 0, 0);
}

.subtitle {
    line-height: 40px;
    font-weight: bold;
}

.option {
    margin-left: 20px;
    display: flex;
}

input[type="radio"] {
    margin-right: 10px;
	accent-color: black;
}

#monospace-option {
    font-family: monospace;
}

#roboto-option {
    font-family: 'Roboto', sans-serif;
}

#robotomono-option {
    font-family: 'Roboto Mono', monospace;
}

#lora-option {
    font-family: 'Lora', serif;
}

#tiny-option {
    font-size: 8px;
}

#small-option {
    font-size: 12px;
}

#default-option {
    font-size: 18px;
}

#large-option {
    font-size: 30px;
}

#huge-option {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    width: 46px;
    height: 20px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.switch-label {
    margin-left: 30px;
}

.sync-label {
    float: right;
    margin-right: 30px;
}

.button {
    background-color: #2196F3;
    cursor: pointer;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    float: right;
    margin-right: 30px;
}

.textfield {
    background-color: #ffffff;
    border: 1px;
	border-style: solid;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    float: right;
    margin-right: 30px;
}

#note-content {
    box-sizing: border-box;
    border: 0;
    font-size: 20px;
    font-family: monospace;
    line-height: 1.75rem;
    margin: 0;
    min-height: 100vh;
    height: auto;
    padding: 4rem 20%;
    resize: none;
    width: 100%;
    vertical-align: middle;
}

/* width */
body::-webkit-scrollbar {
	width: 10px;
}
  
/* Track */
body::-webkit-scrollbar-track {
	background: #9e9e9e3d;
}
  
/* Handle */
body::-webkit-scrollbar-thumb {
	background: #8888888c;
}
  
/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
	background: #5555558c;
}

a:link {
	color: #2196F3
}

a:visited {
	color: #2196F3
}